# BIG DATA ANALYSIS USING PYSPARK

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Pyspark').getOrCreate()

In [ ]:
df=spark.read.csv('/content/D3.csv',header=True,inferSchema=True)

1.Display Top 5 Rows of the dataset

In [ ]:
df.show(5)

2.Display datatype of each column

In [ ]:
df.printSchema()

3.Display column names

In [ ]:
df.columns

4.Count number of rows and columns of the dataset

In [ ]:
df.count()

In [ ]:
len(df.columns)

5.Statistics of the dataset

In [ ]:
df.describe(['Unit price','Quantity','Tax 5%','Total','gross margin percentage','gross income','Rating']).show()

6.Find unique values available in the 'Gender' column

In [ ]:
df.toPandas()['Gender'].unique()

7.Find total number unique values available in the 'Gender' column

In [ ]:
len(df.toPandas()['Gender'].unique())

8.select single column from the dataset

In [ ]:
df.select('Product line').show()

9.Select multiple columns

In [ ]:
df.select(['Product line','Gender']).show()

10.create new column with total +1

In [ ]:
df.withColumn('Total+1',df['Total']+1).show()

11.Rename 'Payment'column as 'Payment Method'

In [ ]:
df=df.withColumnRenamed('Payment','Payment Method')

In [ ]:
df.show()

12.Display customer type who purchased less than 2 items

In [ ]:
df.filter('Quantity<2').select('Customer type').show()

13.Display Gender and customer type who purchased less than 2 item

In [ ]:
df.filter('Quantity<2').select(['Gender','Customer type']).show()

14.Display branch which has least total income is less than 30 and quantity less than 3

In [ ]:
df.filter(('Total<20')and('Quantity<3')).select('Branch','Gender').show()

15.Display the product line which has rating greater than 9

In [ ]:
df.filter('Rating>9.5').select('City','Product line').show()

16.Display average total of Male and Female

In [ ]:
df.groupBy('Gender').mean('Total').show()

17.count total number of male and female

In [ ]:
df.groupBy('Gender').count().show()

18.Display cities and their entier total

In [ ]:
df.groupBy('City').sum('Total').show()

19.sort column in decending order based on total

In [ ]:
df.orderBy('Total',ascending=False).show()

20.sort column in decending order based on rating

In [ ]:
df.orderBy('Rating',ascending=False).show()